.artistCard{
  text-align: center;
}

.artistPhoto{
  width: 300px;
  height: 300px;
}



.album-covers{
  display: flex;
  justify-content:center;
  text-align: center;
}
.album-holder{
  width: 350px;
  margin: 0 2rem;
}
.album-cover{
  width: 200px;
  height: 200px;
}
